:root
{
	--gold: rgb(250, 217, 29);
	--red: rgb(244, 78, 81);
	--orange: rgb(255, 150, 0);
	--green: rgb(120, 200, 0);
	--blue: rgb(28, 176, 246);
	--purple: rgb(206, 130, 255);
	--grey: rgb(229, 229, 229);
	--dark-blue: rgb(24, 153, 214);
	--light-blue: rgb(28, 176, 246);
}


/* Strength Bars */

.strengthBarBackground
{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 1em;
	left: 0;
	background-color: #e5e5e5;
	border-radius: 0.5em;
	z-index: 1;
}

.strengthBarHolder
{
	width: 100%;
	position: relative;
	margin-top: 0.5em;
	margin-bottom: -8px;
}
.strengthBarHolder[display="none"]
{
	display: none;
}

.fullWidth
{
	width: 100%;
}

.strengthBar
{
	display: inline-block;
	position: absolute;
	left: 0;
	height: 1em;
	background-color: var(--red);	
	border-radius: 0.5em;
	z-index: 2;
}
.strengthBar[strength="0"]
{
	width: 0%;
}
.strengthBar[strength="25"]
{
	width: 25%;
}
.strengthBar[strength="50"]
{
	width: 50%;
}
.strengthBar[strength="75"]
{
	width: 75%;
}
.strengthBar[strength="100"]
{
	width: 100%;
	background-color: var(--gold);
}

.strengthValue
{
	position: relative;
	width: 97%;
	text-align: right;
	vertical-align: middle;
	font-size: 75%;
	z-index: 3;
	margin: auto;
}


/* XP Info  */

.XPBox
{
	margin-top: 1em;
	color: black;
}
.XPBox p
{
	text-align: center;
}

.XPTotalAndLevel
{
	font-size: 175%;
	font-weight: bold;
	color: var(--orange);
}
.XPTotalAndLevel span
{
	color: black;
	font-weight: normal;
}

.nextLevelProgress
{
	margin-bottom: 0;
}

.languageLevelProgressBarContainer
{
	height: 0.5em;
	width: 100%;
	background-color: var(--grey);
	border-radius: 0.25em;
}

.languageLevelProgressBar
{
	height: 100%;
	background-color: var(--orange);
	border-radius: 0.25em;
}

.XPPrediction
{
	margin-bottom: 0;
}

.XPBoxOverflowContainer
{
	overflow-y: auto;
	max-height: calc(100vh - 58px - 90px);
}


/* Predictions  */

.prediction span
{
	font-weight: bold;
}

.checkpointPrediction,
.treeLevelPrediction
{
	line-height: 120%;
	margin: 1em 1em 0;
	text-align: center;
	color: black !important;
}
.checkpointPrediction span:first-of-type,
.treeLevelPrediction span:first-of-type
{
	font-weight: inherit;
	text-decoration: underline dashed #777;
	text-underline-position: under;
}


/* Crowns Info  */

.desktopLayout #crownsPopupContainer
{
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: auto;
	max-height: calc(100vh - 70px - 20px);
}
.mobileLayout #crownsPopupContainer
{
	flex-wrap: wrap;
	justify-content: center;
}

.mobileLayout #crownsPopupContainerParent
{
	overflow-y: auto;
	max-height: calc(100vh - 58px - 90px);
}

#sidebarCrownsInfoContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.crownDescriptionContainer
{
	width: 50%;
}
.crownDescriptionContainer h2
{
	margin: 0;
}
.crownDescriptionContainer p
{
	margin: 10px 0 0 0;
	color: #777;
}

#crownsPopupContainer .crownCountImg,
#sidebarCrownsInfoContainer .crownCountImg
{
	transform: scale(1.3);
}

.crownCountPercentage
{
	font-size: 0.8em;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: calc(50% + 1.3em);
	color: #cd7900;
}

.crownsGraph
{
	width: 100%;
	margin-top: 1em;
	padding: 0 1em;
}

.crownLevelBreakdownContainer
{
	margin: 1em 1em 0 1em;
	text-align: left;
	flex-grow: 1;
	color: black;
}

.treeLevelSentence
{
	text-align: center;
	color: black !important;
	margin: 0 0 1em 0 !important;
}

.treeLevel
{
	display: inline-block;
}

.breakdownList
{
	display: grid;
	grid-auto-rows: 1.5em;
	align-items: center;
}

.crownImgContainer
{
	position: relative;
	display: inline-block;
	width: 100%;
	justify-self:center;
}
.crownImgContainer img
{
	width: 100%;
	padding: 0 0.2em;
	z-index: 1;
}
.crownImgContainer div
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 2;
	color: #cd7900;
}

.crownLevelItem
{
	display: grid;
	align-items: center;
	justify-items: right;
	grid-template-columns: 2.5fr 7.5fr 2.5em 1fr 3fr 5.5fr;
}
.skillsAtSpan
{
	justify-self: center;
}

.breakdownHeader
{
	margin: 0;
	font-size: 100%;
	justify-self: center;
}


/* Languages Box  */
#languagesTable
{
	width: 100%;
}
#languagesTable tr
{
	display: grid;
	grid-template-columns: 30% 20% 25% 25%;
	align-items: center;
}
#languagesTable tr td
{
	padding: 0;
}

#languagesTable thead tr th
{
	padding: 0;
}

#languagesTable > tr:nth-of-type(even)
{
	background-color: #f0f0f0;
}
